<!DOCTYPE HTML> 

<!-- Pulled from
    http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/ -->

<html lang="en-FR"> 
<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">   
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="{{asset('css/stylegallery.css')}}" rel="stylesheet">
  <title>Gallery photo</title>

</head> 
<body class="no-touch"> 
  
  <div class="wrap">
    {% for url in gallery %}
      <div class="box">
        <div class="boxInner">
          <img src="{{url}}" />
          <div class="titleBox">
            <a download="cutieboxevent" href="{{url}}"><button class="btn">Télécharger</button></a>
            <a href="{{url}}" target="_blanck"><button class="btn btn-primary">Voir cette photo</button></a>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
  
</body> 
</html>