<nav class="navbar navbar-default sidebar" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients
						<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
					</a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li>
							<a href="{{path("create_user")}}">Créer</a>
						</li>
						<li>
							<a href="{{ path("list_users") }}">Liste/modifier</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Imprimantes
						<span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-print"></span>
					</a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li>
							<a href="{{path("create_imprimante")}}">Créer</a>
						</li>
						<li>
							<a href="{{path('list_imprimantes')}}">Liste imprimantes</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Templates
						<span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-portrait"></span>
					</a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li>
							<a href="">Ajouter</a>
						</li>
						<li>
							<a href="">Modifier</a>
						</li>
						<li>
							<a href="">Liste des templates</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
