{% extends "base.html.twig" %}
{% block title %}
	Modification d'une imprimante
{% endblock %}
{% block body %}
	<div class="row">
		{% include "navbar/sidebar.html.twig" %}
		<div>
			<h2>Mettre à jour les informations de l'imprimante</h2>
			{{form_start(formView)}}
			{{form_row(formView)}}
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-save"></i>
				Sauvegarder la modification
			</button>
			{{form_end(formView)}}
		</div>
	{% endblock %}
